@import "base.css";
@import "index.css";
@import "volunteer.css";
@import "event.css";
@import "answer.css";
@import "answer.css";
@import "forms.css";

/*
 * GLOBAL STYLE INITIALISATION
 */

.openvolunteer {
    color:#000000;
    font-family:arial, sans-serif;
    font-size:small;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0px;
    padding:0px;
}

/*
 * GENERAL HTML TAGS STYLES
 */

.openvolunteer a {
    text-decoration:none;
    color:#234F32;
}

.openvolunteer a:hover {
    text-decoration:underline;
    background:#E0FFB8;
}

.openvolunteer h2 {
    color:#999999;
}

.openvolunteer h3 {
    text-align:left;
    color:#999999;
}

.openvolunteer fieldset {
    border:none;
    text-align:center;
    font-size:0.8em;
}

.openvolunteer input[type=text] {
    border: 1px solid #CCCCCC;
    border-bottom-color:#999999;
    padding:5px;
    padding-bottom:2px;
    font-size:18px;
    font-family:arial, sans-serif bold;
}

.openvolunteer textarea {
    border: 1px solid #CCCCCC;
    border-bottom-color:#999999;
    padding:5px;
    padding-bottom:2px;
}

.openvolunteer select {
    border: 1px solid #CCCCCC;
    border-bottom-color:#999999;
    padding:5px;
    padding-bottom:2px;
    font-size:16px;
}

.openvolunteer input[type=submit], .openvolunteer input[type=button] {
    font-size:16px;
    border: 1px solid #CCCCCC;
    border-bottom-color:#999999;
    padding:5px;
    padding-bottom:2px;
    background:#DDDDDD;
}

.openvolunteer input[type=button] {
    border-right:2px solid #999999;
    border-bottom:2px solid #999999;
}

.openvolunteer input[type=submit]:active, .openvolunteer input[type=button]:active {
    cursor:pointer;
    border: 1px solid #999999;
    margin-top:0px;
    background:#E0FFB8;
}

.openvolunteer input[type=checkbox] {
    border:1px solid #234F32;
    color:#234F32;
    background:#DDDDDD;
}

.openvolunteer input[type=submit]:hover, .openvolunteer input[type=button]:hover {
    cursor:pointer;
}

/*
 * CSS SHORTCUTS
 */

.openvolunteer .center {
    text-align:center;
}

.openvolunteer .centered {
    margin-left:auto;
    margin-right:auto;
}

.openvolunteer .disabled {
    background-color:#DDDDDD;
    border:1px solid #AEAEAE;
}

.openvolunteer .required input, .openvolunteer .required select, .openvolunteer .required textarea {
    border:1px solid #CC0000;
}

.openvolunteer .required span {
    color:#CC0000;
}

.openvolunteer .success {
    color:#666666;
}

.openvolunteer .error {
    color:#CC0000;
}

/*
 * SEARCH RESULTS DISPLAY IN TABLE
 */

.openvolunteer .search-results {
    text-align:center;
    padding:10px;
}

.openvolunteer .search-results table {
    text-align:left;
    width:100%;
    border-collapse:collapse;
}

.openvolunteer .search-results th {
    border: 1px solid #AAAAAA;
    text-align:center;
    background:#DDDDDD;
}

.openvolunteer .search-results td {
    border-bottom: 1px solid #AAAAAA;
}

.openvolunteer .search-results .more {
    font-size:0.8em;
    text-align:right;
    padding-right:5px;
}

.openvolunteer .search-results .yes td {
    background:#E0FFB8;
}

.openvolunteer .search-results .no td {
    background:#FFCFB2;
    text-decoration: line-through;
}

.openvolunteer .search-results .maybe td {
    background-color:#FFFA8F;
}

.openvolunteer .search-results .icon {
    width:16px;
    border:none;
}

/*
 * OPERATIONS RESULT
 */

.openvolunteer .result {
    text-align:center;
    font-size:1.4em;
    font-weight:bold;
}

.openvolunteer .result  a {
    font-size:0.8em;
}

/*
 * MENU FOR TOOGLE COLUMNS DISPLAY
 */

.openvolunteer .toogleColsList {
    list-style:none;
    text-align:left;
    margin-left:50px;
}

.openvolunteer .toogleColsList li {
    margin-bottom:3px;
    padding-left:23px;
    cursor:pointer;
    text-decoration:none;
    color:#234F32;
}

.openvolunteer .toogleColsList li:hover {
    text-decoration:underline;
    background-color:#E0FFB8;
}

.openvolunteer .toogleColsList .displayed {
    background-image:url('/openvolunteer/files/icons/yes.png');
    background-repeat:no-repeat;
    background-position:0px 2px;
}

.openvolunteer .toogleColsList .hidden {
    background-image:url('/openvolunteer/files/icons/no.png');
    background-repeat:no-repeat;
    background-position:0px 2px;
}

/*
 * SORTING ICONS
 */

.openvolunteer .sort {
    background-image:url('/openvolunteer/files/icons/sort.png');
    background-repeat:no-repeat;
    padding-left:15px;
}

.openvolunteer .sort:hover {
    background-image:url('/openvolunteer/files/icons/sort.png');
}

.openvolunteer .asc {
    background-image:url('/openvolunteer/files/icons/asc.png');
    background-repeat:no-repeat;
    padding-left:15px;
}

.openvolunteer .asc:hover {
    background-image:url('/openvolunteer/files/icons/asc.png');
}

.openvolunteer .desc {
    background-image:url('/openvolunteer/files/icons/desc.png');
    background-repeat:no-repeat;
    padding-left:15px;
}

.openvolunteer .desc:hover {
    background-image:url('/openvolunteer/files/icons/desc.png');
}

.openvolunteer .sort:hover, .openvolunteer .asc:hover, .openvolunteer .desc:hover {
    background-repeat:no-repeat;
    padding-left:15px;
    background-color:#DDDDDD;
    text-decoration:none;
}
