.legend {
    margin-top:15px;
    text-align: left;
}

.openvolunteer .answer .photo {
    float:left;
}

.openvolunteer .answer .photo img {
    z-index:9;
    width:150px;
    padding:7px;
    background:#F3F3F3;
    border:1px solid #DDDDDD;
    -moz-border-radius:3px;
}

.openvolunteer .answer .photo img:hover {
    border:1px solid #234F32;
    opacity:0.8;
}


.legend_positive, .legend-negative, .legend-maybe {
    clear:both;
}

.legend-positive div, .legend-negative div, .legend-maybe div {
    border: 1px solid #AAAAAA;
    width:35px;
    height:20px;
    float:left;
    margin-bottom:3px;
}

.legend-positive div {
    background-color:#E0FFB8;
}

.legend-negative div {
    background-color:#FFCFB2;
}

.legend-maybe div {
    background-color:#FFFA8F;
}

.answser-event {
    text-align:center;
}

.answser-event h2 {
    margin-bottom:5px;
}

.schedules {
    text-align:right;
}

.schedules ul {
    list-style-type: none;
    padding:0px;
}

.schedules li {
    margin-bottom:5px;
}

.openvolunteer .edit-form .schedules input[type="text"] {
    padding-right:0px;
}

.openvolunteer .edit-form .schedules .bad {
    background-color:#CC0000;
    color:#FFFFFF;
}
