{% extends "openvolunteer/base.html" %}

{% block title %}OpenVolunteer | Édition d'une fiche{% endblock %}

{% block content %}
    <form method="post" action="." class="edit-form center">{% csrf_token %}
        <table class="centered">
            <tr>
                <th>Événement</th>
                <td class="required">{{ answer.event }}</td>
            </tr>
            <tr>
                <th>Bénévole</th>
                <td class="required">
                    <select id="id_volunteer" name="volunteer">
                        <option value="">----</option>
                        {{ sel_opts_vol|safe }}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>
                    <select id="id_job" name="job">
                        <option value="">----</option>
                        {{ sel_opts_job|safe }}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Présence</th>
                <td>
                    <select id="id_presence" name="presence">
                        <option value="maybe" {% if answer.presence == 'maybe'%}selected="selected"{% endif %}>Peut-être</option>
                        <option value="yes"   {% if answer.presence == 'yes'%}selected="selected"{% endif %}  >Oui</option>
                        <option value="no"    {% if answer.presence == 'no'%}selected="selected"{% endif %}   >Non</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Dernière demande</th>
                <script type="text/javascript">
                    function autoToday() {
                        var d=new Date();
                        $('#id_last_request_day').attr('value', d.getDate());
                        $('#id_last_request_month').attr('value', d.getMonth() + 1);
                        $('#id_last_request_year').attr('value', d.getFullYear());
                    }
                </script>
                <td>
                    <input type="text" id="id_last_request_day" maxlength="2" size="2"
                           name="lastrequest_day" value='{{ answer.last_request|date:"d" }}'>
                    <input type="text" id="id_last_request_month" maxlength="2" size="2"
                           name="lastrequest_month" value='{{ answer.last_request|date:"m" }}'>
                    <input type="text" id="id_last_request_year" maxlength="4" size="4"
                           name="lastrequest_year" value='{{ answer.last_request|date:"Y" }}'>
                    <br>
                    (<a href="javascript:;" onclick="autoToday();">Aujourd'hui</a>)
                </td>
            </tr>
            <tr>
                <th>Fiche bénévole envoyée?</th>
                <td>
                    <input type="checkbox" id="id_updating_vol_info" name="updating_vol_info"
                           {% if answer.updating_vol_info %}checked{% endif %}
                           onclick="uncheck(this);">
                <td>
            </tr>
            <tr>
                <th>Fiche bénévole retournée?</th>
                <td>
                    <script type="text/javascript">
                        iter = 1;
                        function autoCheck(elt){
                            if (elt.checked) {
                                if (iter == 1) {
                                    var info = document.createElement('span');
                                    info.id = 'info';
                                    info.innerHTML += "<i>Coché automatiquement !</i>";
                                    $('#id_updating_vol_info').attr('parentNode').appendChild(info);
                                    iter++;
                                }
                                $('#info').css('display', 'inline');
                                $('#id_updating_vol_info').attr('checked', true);
                            }
                        }

                        function uncheck(elt){
                            if(!elt.checked) {
                                $('#info').css('display', 'none');
                            }
                        }
                    </script>
                    <input type="checkbox" id="id_updated_vol_info" name="updated_vol_info"
                           {% if answer.updated_vol_info %}checked{% endif %}
                           onclick="autoCheck(this);">
                <td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td colspan="3">
                    <textarea id="id_comments" name="comments">{{ answer.comments }}</textarea>
                </td>
            </tr>
        </table>
        <p class="required">* Les champs marqués en <span>rouge</span> sont obligatoires.</p>
        <input type="submit" value="Enregistrer">
    </form>
{% endblock %}

{% block navigation %}
    <ul>
       </li><a href="{{ answer.event.get_answer_url }}" title="">Accéder à la liste des réponses</a></li>
    </ul>
{% endblock %}
