{% extends "openvolunteer/base.html" %}

{% block title %}OpenVolunteer | Bénévoles non contactés pour cet événement{% endblock %}

{% block content %}
    <script type="text/javascript">
        window.onload = function () {
            $('#col_name').attr('href',         sortingHref('name', '#col_name'));
            $('#col_firstname').attr('href',    sortingHref('firstname', '#col_firstname'));
            $('#col_email').attr('href',        sortingHref('email', '#col_email'));
            $('#col_phonehome').attr('href',    sortingHref('phone_home', '#col_phonehome'));
            $('#col_phonemobile').attr('href',  sortingHref('phone_mobile', '#col_phonemobile'));
            $('#col_camember').attr('href',     sortingHref('ca_member', '#col_camember'));
        }

        function sortingHref(col, id) {
            q = get_param_val('q');
            current_order = get_param_val('order');
            current_sort = get_param_val('sort');
            if (current_sort == col){
                sort = current_sort;
                if (current_order == 'desc'){
                    order = 'asc';
                } else {
                    current_order = 'asc';
                    order = 'desc';
                }
                $(id).attr('class', current_order);
                return './?q=' + q + '&sort=' + sort  + '&order=' + order;
            } else {
                sort = col;
                order = 'asc';
                $(id).attr('class', 'sort');
                return './?q=' + q + '&sort=' + sort  + '&order=' + order;
            }
        }

        function get_param_val(name) {
            name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
            var regexS = "[\\?&]"+name+"=([^&#]*)";
            var regex = new RegExp( regexS );
            var results = regex.exec( window.location.href );
            if(results == null )
                return "";
            else
                return results[1];
        }
    </script>
    <div class="answser-event">
        <h2><a href="{{ event.get_absolute_url }}" title="{{ event.title }}">{{ event.title }}</a></h2>
        ({{ event.date|date:"l d F Y" }} | {{ event.place }})</p>
    </div>
    <div class="search-results">
        {% if volunteers %}
            <h3>Liste des bénévoles non contactés pour cet événement:</h3>
            <table id="resultsTable">
                <tr>
                    <th><a id="col_name"           href="" title="Trier par Nom"           >&nbsp;</a>Nom</th>
                    <th><a id="col_firstname"      href="" title="Trier par Prénom"        >&nbsp;</a>Prénom</th>
                    <th><a id="col_email"          href="" title="Trier par Email"         >&nbsp;</a>Email</th>
                    <th><a id="col_phonehome"      href="" title="Trier par Téléphone fixe">&nbsp;</a>Téléphone fixe</th>
                    <th><a id="col_phonemobile"    href="" title="Trier par Mobile"        >&nbsp;</a>Mobile</th>
                    <th>Adresse</th>
                    <th>Date de naissance</th>
                    <th>Lieu de naissance</th>
                    <th>Numéro de sécu</th>
                    <th>Première inscription</th>
                    <th><a id="col_camember"       href="" title="Trier par CA"            >&nbsp;</a>CA ?</th>
                    <th>Mis à jour?</th>
                </tr>
                {% for volunteer in volunteers %}
                    <tr>
                        <td>{{ volunteer.name }}</td>
                        <td>{{ volunteer.firstname }}</td>
                        <td>
                            {% if volunteer.email %}
                                {{ volunteer.email }}&nbsp;
                                <a href="mailto:{{ volunteer.email }}" title="Envoyer un email">
                                    <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/email.png" alt="mail" class="icon">
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ volunteer.phone_home }}</td>
                        <td>{{ volunteer.phone_mobile }}</td>
                        <td>{{ volunteer.address }}</td>
                        <td>{{ volunteer.birthday|date:"d F Y"  }}</td>
                        <td>{{ volunteer.birth_place }}</td>
                        <td>
                            {% if volunteer.social_security_number %}
                                {{ volunteer.social_security_number }}
                            {% endif %}
                        </td>
                        <td>{{ volunteer.inscription_date|date:"d F Y" }}</td>
                        <td style="text-align:center;">
                            {% if volunteer.ca_member %}
                                <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/yes.png" alt="oui" class="icon">
                            {% else %}
                                <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/no.png" alt="non" class="icon">
                            {% endif %}
                        </td>
                        <td style="text-align:center;">
                            {% if volunteer.updated_vol_info and volunteer.updating_vol_info %}
                                <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/yes.png" alt="oui" class="icon">
                            {% else %}
                                <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/no.png" alt="non" class="icon">
                            {% endif %}
                        </td>
                        <td class="more">
                            <a href="{{ volunteer.get_absolute_url }}"
                               title="Consulter la fiche détaillée de {{ volunteer }}">
                                Bénévole
                            </a> |
                            <a href="{{ event.get_answer_add_url }}{{ volunteer.id }}/"
                               title="Consulter la fiche détaillée de {{ volunteer }}">
                                (+) Réponse
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div id="dialog_cols_mgt" title="Afficher ou cacher des colonnes" style="text-align:center;">
                <ul id="toogleColsList" class="toogleColsList"></ul>
            </div>
            <script src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/jquery/plugins/jquery.cookie.js"></script>
            <script src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/jquery/plugins/jquery.columnmanager.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('#resultsTable').columnManager({
                        onClass: 'displayed',
                        offClass: 'hidden',
                        listTargetID:'toogleColsList',
                        saveState: true,
                        colsHidden: [4, 6, 7, 8, 9, 10, 11],
                        show: function(c) {
                            $(c).fadeIn(1000);
                        },
                        hide: function(c){
                            $(c).fadeOut(1000);
                        }
                    });

                    $("#dialog_cols_mgt").dialog({
                        bgiframe: true,
                        draggable: true,
                        width:400,
                        modal: true,
                        autoOpen: false
                    });
                });
            </script>
        {% endif %}
    </div>
{% endblock %}

{% block navigation %}
    <ul>
        <li>
            <a href="{{ event.get_answer_add_url }}" title="Ajouter une réponse">
                Ajouter une réponse
            </a>
        </li>
        <li>
            <a href="{{ event.get_absolute_url }}"
               title="Voir la fiche de l'événement">
               Voir la fiche de l'événement
            </a>
        </li>
        <li>
            <a href="{{ event.get_answer_url }}"
               title="Obtenir la liste des réponses pour cet événement">
               Obtenir la liste des réponses
            </a>
        </li>
        <li>
            <a href="{{ event.get_positives_answer_url }}"
               title="Obtenir la liste des bénévoles présents à cet événement">
               Obtenir la liste des bénévoles présents à cet événement
            </a>
        </li>
        {% if volunteers %}
            <li>
                <a href="javascript:;" onclick="$('#dialog_cols_mgt').dialog('open');">Afficher ou cacher les colonnes</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
