<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">

<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}OpenVolunteer {% endblock %}</title>
    <link rel="icon" type="image/png" href="/files/img/favicon.png">
    <style type="text/css">
        @import url({{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/css/openvolunteer.css);
        @import url({{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/jquery/css/smoothness/jquery-ui.css);
    </style>
    <script type="text/javascript" src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/jquery/js/jquery.js"></script>
    <script type="text/javascript" src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/jquery/js/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#footer").dialog({
                bgiframe: true,
                height: 'auto',
                width: 400,
                modal: true,
                autoOpen: false
            });
        });
    </script>
</head>
<body class="openvolunteer">
    <div class="logo">
        <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/" title="Accueil">
            <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/logo.png" alt="OpenVolunteer">
        </a>
    </div>
    <div class="registration">
        {% if user.is_authenticated %}
            Bonjour <a href="mailto:{{ user.email}}">
            {% if user.first_name and user.last_name %}
                {{ user.first_name }} {{ user.last_name }}</a>:
            {% else %}
                {{ user.username }}</a>:
            {% endif %}
            <a href="/accounts/logout/?next={{ settings.OPENVOLUNTEER_WEB_ROOT }}/" title="Se déconnecter">Déconnexion</a> |
            <a href="/admin/{{ settings.OPENVOLUNTEER_APP_NAME }}/" title="Accéder à l'interface d'administration d'OpenVolunteer">Administration</a>
        {% else %}
            <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/" title="Accéder à l'accueil">Accueil</a> |
            <a href="/accounts/login/?next={{ settings.OPENVOLUNTEER_WEB_ROOT }}/" title="Se connecter">Connexion</a>
        {% endif %}
        | <a href="javascript:;" onclick="$('#footer').dialog('open');" title="À propos d'OpenVolunteer">À propos</a>
    </div>
    <div class="menu">
        <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/"          title="Accéder à l'accueil">Accueil  </a> |
        <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/volunteer" title="Bénévoles"          >Bénévoles</a> |
        <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/event/"    title="Événements"         >Événement</a> |
        <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/answer/"   title="Réponses"           >Réponses </a> |
        <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/job/"      title="Postes"             >Postes   </a>
    </div>
    <div class="shortcuts">
        {% block navigation %}{% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer" title="À propos d'OpenVolunteer !" class="center">
        <p>
            © 2008-2009 <a href="http://code.google.com/p/openvolunteer/">OpenVolunteer</a>
        </p>
        <p>
            Propulsé par <a href="http://djangoproject.com">Django</a>
        </p>
        <p>
            Publié sous <a href="http://www.gnu.org/licenses/gpl.html">Licence GNU/GPLv3</a>
        </p>
    </div>
</body>
</html>
