{% extends "openvolunteer/base.html" %}

{% block title %}OpenVolunteer | Bénévoles présent pour cet événement{% endblock %}

{% block content %}
    <div class="OV_answsers_event">
        <h2><a href="{{ event.get_absolute_url }}" title="{{ event.title }}">{{ event.title }}</a></h2>
        ({{ event.date|date:"l d F Y" }} | {{ event.place }})</p>
    </div>
    <div class="OV_search_results_area">
        <h3>Liste des bénévoles présents pour cet événement:</h3>
        {% if answers %}
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone fixe</th>
                    <th>Mobile</th>
                    <th>CA ?</th>
                    <th>Poste</th>
                </tr>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer.volunteer.name }}</td>
                        <td>{{ answer.volunteer.firstname }}</td>
                        <td>
                            {% if answer.volunteer.email %}
                                {{ answer.volunteer.email }}&nbsp;
                                <a href="mailto:{{ answer.volunteer.email }}" title="Envoyer un email">
                                    <img src="/openvolunteer/files/icons/email.png" alt="mail" class="OV_search_results_icon">
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ answer.volunteer.phone_home }}</td>
                        <td>{{ answer.volunteer.phone_mobile }}</td>
                        <td style="text-align:center;">
                            {% if answer.volunteer.ca_member %}
                                <img src="/openvolunteer/files/icons/yes.png" alt="oui" class="OV_search_results_icon" />
                            {% else %}
                                <img src="/openvolunteer/files/icons/no.png" alt="non" class="OV_search_results_icon" />
                            {% endif %}
                        </td>
                        <td>
                            {% ifnotequal answer.job.title "none" %}
                                <a href="{{ answer.job.get_absolute_url }}" title="Afficher la fiche du poste">{{ answer.job }}</a>
                            {% endifnotequal %}
                        </td>
                        <td class="OV_search_results_more">
                            <a href="{{ answer.volunteer.get_absolute_url }}" 
                               title="Consulter la fiche détaillée de {{ answer.volunteer }}">
                               Fiche détaillée
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block navigation %}
    <ul>
        <li>
            <a href="/openvolunteer/event/{{ event.id }}" 
               title="Accéder à la fiche principale de cet événement">
               Fiche de l'événement
            </a>
        </li>
        <li>
            <a href="/openvolunteer/answers/nocontact/event/{{ event.id }}" 
               title="Obtenir la liste des bénévoles non contactés pour cet événement">
               Obtenir la liste des bénévoles non contactés
            </a>
        </li>
        <li>
            <a href="/openvolunteer/answer/?v=&e={{ event.id }}"
               title="Obtenir la liste des réponses pour cet événement">
               Obtenir la liste des réponses
            </a>
        </li>
    </ul>
{% endblock %}
