{% extends "openvolunteer/base.html" %}

{% block title %}OpenVolunteer | Édition d'une fiche{% endblock %}

{% block content %}
    <form method="POST" action="." class="OV_event_details OV_center">
        <table class="OV_centered">
            <tr>
                <th class="OV_required">Événement</th>
                <td class="OV_required">{{ need.event }}</td>
            </tr>
            <tr>
                <th class="OV_required">Poste</th>
                <td class="OV_required">
                    <select id="id_job" name="job">
                        {{ sel_opts|safe }}
                    </select>
                </td>
            </tr>
            <tr>
                <th class="OV_required">Nombre de bénévoles</th>
                <td class="OV_required">
                    <input type="text" id="id_number" name="number"
                           size="3" maxlength="3" value='{% if need.number %}{{ need.number }}{% endif %}'>
                </td>
            </tr>
        </table>
        <p class="OV_required">* Les champs marqués en <span>rouge</span> sont obligatoires.</p>
        <input type="submit" value="Enregistrer">
    </form>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="{{ need.event.get_absolute_url }}" title="">Revenir à la fiche de l'événement.</a></li>
    </ul>
{% endblock %}
