{% extends "openvolunteer/base.html" %}

{% block title %}OpenVolunteer | Chercher une(des) réponse(s){% endblock %}

{% block content %}
    <div id="ans_dialog_delete" title="Supprimer cette fiche?" style="text-align:center;display:none;">
        <p>Êtes vous sûr de vouloir supprimer cette réponse?</p>
        <p><a id="dellink" href="" title="Confirmer l'opération">Confirmer</a></p>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#ans_dialog_delete").dialog({
                bgiframe: true,
                modal: true,
                autoOpen: false
            });
        });

        function showDelPopup(url) {
            $('#dellink').attr('href', url);
            $('#ans_dialog_delete').dialog('open');
        }

        window.onload = function () {
            $('#col_name').attr('href',         sortingHref('volunteer__name', '#col_name'));
            $('#col_firstname').attr('href',    sortingHref('volunteer__firstname', '#col_firstname'));
            $('#col_email').attr('href',        sortingHref('volunteer__email', '#col_email'));
            $('#col_phonehome').attr('href',    sortingHref('volunteer__phone_home', '#col_phonehome'));
            $('#col_phonemobile').attr('href',  sortingHref('volunteer__phone_mobile', '#col_phonemobile'));
            $('#col_camember').attr('href',     sortingHref('volunteer__ca_member', '#col_camember'));
            $('#col_job').attr('href',          sortingHref('volunteer__job', '#col_job'));
        }

        function sortingHref(col, id) {
            q = get_param_val('q');
            current_order = get_param_val('order');
            current_sort = get_param_val('sort');
            if (current_sort == col){
                sort = current_sort;
                if (current_order == 'desc'){
                    order = 'asc';
                } else {
                    current_order = 'asc';
                    order = 'desc';
                }
                $(id).attr('class', current_order);
                return './?q=' + q + '&sort=' + sort  + '&order=' + order;
            } else {
                sort = col;
                order = 'asc';
                $(id).attr('class', 'sort');
                return './?q=' + q + '&sort=' + sort  + '&order=' + order;
            }
        }

        function get_param_val(name) {
            name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
            var regexS = "[\\?&]"+name+"=([^&#]*)";
            var regex = new RegExp( regexS );
            var results = regex.exec( window.location.href );
            if(results == null )
                return "";
            else
                return results[1];
        }
    </script>
    <div>
        <form method="get" action="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/answer/">
            <fieldset>
                <div>
                    <select name="q">
                        {% for event in events %}
                            <option value="{{ event.id }}">{{ event.title }} ({{ event.date|date:"d F Y" }})</option>
                        {% endfor %}
                    </select>
                    <input class="submit" type="submit" value="Rechercher">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="search-results">
        {% if event %}
            <div class="answser-event">
                <h2><a href="{{ event.get_absolute_url }}" title="{{ event.title }}">{{ event.title }}</a></h2>
            ({{ event.date|date:"l d F Y" }} | {{ event.place }})</p>
            </div>
        {% endif %}

        {% if results %}
        <h3>Liste des bénévoles contactés pour cet événement:</h3>
        <table id="resultsTable">
            <tr>
                <th><a id="col_name"             href="" title="Trier par Nom"           >&nbsp;</a>Nom</th>
                <th><a id="col_firstname"        href="" title="Trier par Prénom"        >&nbsp;</a>Prénom</th>
                <th><a id="col_email"            href="" title="Trier par Email"         >&nbsp;</a>Email</th>
                <th><a id="col_phonehome"        href="" title="Trier par Téléphone fixe">&nbsp;</a>Téléphone fixe</th>
                <th><a id="col_phonemobile"      href="" title="Trier par Mobile"        >&nbsp;</a>Mobile</th>
                <th>Adresse</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Numéro de sécu</th>
                <th>Première inscription</th>
                <th><a id="col_camember"       href="" title="Trier par CA"             >&nbsp;</a>CA ?</th>
                <th>Mis à jour?</th>
                <th><a id="col_job"             href="" title="Trier par Poste"          >&nbsp;</a>Poste</th>
            </tr>
            {% for result in results %}
                <tr class="{{ result.presence }}">
                    <td>{{ result.volunteer.name }}</td>
                    <td>{{ result.volunteer.firstname }}</td>
                    <td>
                        {% if result.volunteer.email %}
                            {{ result.volunteer.email }}&nbsp;
                            <a href="mailto:{{ result.volunteer.email }}" title="Envoyer un email">
                                <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/email.png" alt="mail" class="icon">
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ result.volunteer.phone_home }}</td>
                    <td>{{ result.volunteer.phone_mobile }}</td>
                    <td>{{ result.answer.volunteer.address }}</td>
                    <td>{{ result.volunteer.birthday|date:"d F Y"  }}</td>
                    <td>{{ result.volunteer.birth_place }}</td>
                    <td>
                        {% if result.volunteer.social_security_number %}
                            {{ result.volunteer.social_security_number }}
                        {% endif %}
                    </td>
                    <td>{{ result.volunteer.inscription_date|date:"d F Y" }}</td>
                    <td style="text-align:center;">
                        {% if result.volunteer.ca_member %}
                            <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/yes.png" alt="oui" class="icon">
                        {% else %}
                            <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/no.png" alt="non" class="icon">
                        {% endif %}
                    </td>
                    <td style="text-align:center;">
                        {% if result.updated_vol_info and result.updating_vol_info %}
                            <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/yes.png" alt="oui" class="icon">
                        {% else %}
                            <img src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/icons/no.png" alt="non" class="icon">
                        {% endif %}
                    </td>
                    <td>
                        {% if result.job %}
                            <a href="{{ result.job.get_absolute_url }}" title="Afficher la fiche du poste">{{ result.job }}</a>
                        {% endif %}
                    </td>
                    <td class="more">
                        <a href="{{ result.volunteer.get_absolute_url }}"
                           title="Consulter la fiche détaillée de {{ result.volunteer }}">
                           Bénévole
                        </a> |
                        <a href="{{ result.get_edit_url }}"
                           title="Modifer cette réponse">
                           Modifier
                        </a> |
                        <a href="javascript:;" onclick="showDelPopup('{{ result.get_delete_url }}');"
                           title="Supprimer cette réponse">
                           Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div id="dialog_cols_mgt" title="Afficher ou cacher des colonnes" style="text-align:center;">
            <ul id="toogleColsList" class="toogleColsList"></ul>
        </div>
        <script src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/jquery/plugins/jquery.cookie.js"></script>
        <script src="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/files/jquery/plugins/jquery.columnmanager.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#resultsTable').columnManager({
                    onClass: 'displayed',
                    offClass: 'hidden',
                    listTargetID:'toogleColsList',
                    saveState: true,
                    colsHidden: [4, 6, 7, 8, 9, 10, 11],
                    show: function(c) {
                        $(c).fadeIn(1000);
                    },
                    hide: function(c){
                        $(c).fadeOut(1000);
                    }
                });

                $("#dialog_cols_mgt").dialog({
                    bgiframe: true,
                    draggable: true,
                    width:400,
                    modal: true,
                    autoOpen: false
                });
            });
        </script>
        <div class="legend">
            <div class="legend-positive"><div></div>&nbsp;: Réponses positives</div>
            <div class="legend-negative"><div></div>&nbsp;: Réponses négatives</div>
            <div class="legend-maybe"   ><div></div>&nbsp;: Réponses "Peut-être"</div>
        </div>
        {% else %}
            <div class="search-error">
                {% if terms %}
                    <p>Le(s) terme(s) de recherche spécifié(s) – {{ terms }} – ne correspond(ent) à aucun document.</p>
                    <p>Suggestions :
                        <ul>
                            <li>Vérifiez l’orthographe des termes de recherche.</li>
                            <li>Essayez d'autres mots.</li>
                            <li>Utilisez des mots plus généraux.</li>
                        </ul>
                    </p>
                {% else %}
                    <h3>Obtenir la liste de toutes les réponses (positives et négatives) pour un évènement.</h3>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block navigation %}
    <ul>
        <li>
            <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/event/" title="Accéder à la liste des événements">
                Chercher un événement
            </a>
        </li>
        {% if event %}
            <li>
                <a href="{{ event.get_answer_add_url }}" title="Ajouter une réponse">
                    Ajouter une réponse
                </a>
            </li>
            <li>
                <a href="{{ event.get_absolute_url }}"
                   title="Modifier les informations de {{ volunter }}">
                   Voir la fiche de l'événement
                </a>
            </li>
            <li>
                <a href="{{ event.get_positives_answer_url }}"
                   title="Obtenir la liste des bénévoles présents à cet événement">
                   Obtenir la liste des bénévoles présents à cet événement
                </a>
            </li>
            <li>
                <a href="{{ event.get_unknown_answer_url }}"
                   title="Obtenir la liste des bénévoles non contactés pour cet événement">
                   Obtenir la liste des bénévoles non contactés pour cet événement
                </a>
            </li>
        {% endif %}
        {% if results %}
            <li>
                <a href="javascript:;" onclick="$('#dialog_cols_mgt').dialog('open');">Afficher ou cacher les colonnes</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
