<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr" />
  <title>{% block title %}OpenVolunteer {% endblock %}</title>
  <style type="text/css">
    @import url(/openvolunteer/files/css/openvolunteer.css);
  </style>
</head>
<body>
    <div class="OV_header">
        <a href="/openvolunteer/" title="Accueil">
            <img src="/openvolunteer/files/logo.png" alt="OpenVolunteer" />
        </a>
    </div>
    <div class="OV_registration">
        {% if user.is_authenticated %}
            Bonjour <a href="mailto:{{ user.email}}">
            {% if user.first_name and user.last_name %}
                {{ user.first_name }} {{ user.last_name }}</a>:
            {% else %}
                {{ user.username }}</a>:
            {% endif %}
            <a href="/accounts/logout/?next=/openvolunteer/" title="Se déconnecter">Déconnexion</a> |
            <a href="/admin/openvolunteer/" title="Accéder à l'interface d'administration d'OpenVolunteer">Administration</a>
        {% else %}
            <a href="/openvolunteer/" title="Accéder à l'accueil">Accueil</a> | 
            <a href="/accounts/login/?next=/openvolunteer/" title="Se connecter">Connexion</a>
        {% endif %}
    </div>
    <div class="OV_shortcuts">
        <a href="/openvolunteer/"           title="Accéder à l'accueil" >Accueil   </a> | 
        <a href="/openvolunteer/volunteer"  title=""                    >Bénévoles </a> | 
        <a href="/openvolunteer/event/"     title=""                    >Événement </a> | 
        <a href="/openvolunteer/answer/"    title=""                    >Réponses  </a> | 
        <a href="/openvolunteer/job/"       title=""                    >Postes    </a> 
    </div>
    <div class="OV_navigation">
        {% block navigation %}{% endblock %}
    </div>
    <div class="OV_content">
        {% block content %}{% endblock %}
    </div>
    <div class="OV_footer">
        © 2008 <a href="http://code.google.com/p/openvolunteer/">OpenVolunteer</a>
        |
        Propulsé par <a href="http://djangoproject.com" target="_blank">Django</a>
        |
        Publié sous <a href="http://www.gnu.org/licenses/gpl.html">Licence GNU/GPLv3</a>
    </div>
</body>
</html>
