{% extends "openvolunteer/base.html" %}

{% block title %}OpenVolunteer | Chercher un(des) événement(s){% endblock %}

{% block content %}
    <div>
        <form method="get" action="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/event/?">
            <fieldset>
                <input type="text" name="q" size="40" maxlength="255" value="{{ terms }}">
                <input class="submit" type="submit" value="Rechercher"><br>
                <span>Les recherches peuvent être effectuées sur la <u>dénomination</u>, la <u>date</u> où le <u>lieu</u> des événements.</span>
            </fieldset>
        </form>
    </div>
    <div class="search-results">
        {% if results %}
            <h3>Les résultats de votre recherche:</h3>
            <table>
                <tr>
                    <th>Dénomination</th>
                    <th>Date</th>
                    <th>Lieu</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result.title }}</td>
                        <td>{{ result.date|date:"l d F Y" }}</td>
                        <td>{{ result.place }}</td>
                        <td class="more">
                            <a href="{{ result.get_absolute_url }}"
                               title="Consulter la fiche détaillée de {{ result }}">
                               Fiche détaillée
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="search-error">
                {% if terms %}
                    <p>Le(s) terme(s) de recherche spécifié(s) – {{ terms }} – ne correspond(ent) à aucun document.</p>
                    <p>Suggestions :
                        <ul>
                            <li>Vérifiez l’orthographe des termes de recherche.</li>
                            <li>Essayez d'autres mots.</li>
                            <li>Utilisez des mots plus généraux.</li>
                        </ul>
                    </p>
                {% endif %}
            </div>

            {% if events %}
            <h3>Les 10 derniers événements inscrits:</h3>
                <table>
                    <tr>
                        <th>dénomination</th>
                        <th>Date</th>
                        <th>Lieu</th>
                    </tr>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.title }}</td>
                            <td>{{ event.date|date:"l d F Y" }}</td>
                            <td>{{ event.place }}</td>
                            <td class="more">
                                <a href="{{ event.get_absolute_url }}"
                                   title="Consulter la fiche détaillée de {{ event }}">
                                   Fiche détaillée
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block navigation %}
    <ul>
        <li>
            <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/event/add/" title="Ajouter un événement">
                Ajouter un événement
            </a>
        </li>
    </ul>
{% endblock %}
