{% extends "openvolunteer/base.html" %}

{% block title %}OpenVolunteer | Accueil{% endblock %}

{% block content %}
    <div class="OV_index OV_center">
        <h2>Bienvenue sur OpenVolunteer, dédié à la gestion événementielle des bénévoles.</h2>

        <h3>Raccourcis</h3>
        <ul>
            <li>
                <a href="/openvolunteer/volunteer/add" title="Ajouter un bénévole">
                    Ajouter un bénévole
                </a>
            </li>
            <li>
                <a href="/openvolunteer/event/add" title="Ajouter un événement">
                    Ajouter un événement
                </a>
            </li>
            <!--<li>
                <a href="/openvolunteer/answer/add" title="Ajouter une réponse">
                    Ajouter une réponse
                </a>
            </li>-->
            <li>
                <a href="/openvolunteer/job/add" title="Ajouter un poste">
                    Ajouter un poste
                </a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block navigation %}
    <ul>
        <li><a href="./volunteer/" title="">Chercher un bénévole</a></li>
        <li><a href="./event/" title="">Chercher un événement</a></li>
        <li><a href="./answer/" title="">Chercher une réponse</a></li>
        <li><a href="./job/" title="">Liste des postes</a></li>
    </ul>
{% endblock %}
