{% extends "openvolunteer/base.html" %}

{% block title %}OpenVolunteer | Accueil{% endblock %}

{% block content %}
    <div class="index center">
        <h2>Bienvenue sur OpenVolunteer, dédié à la gestion événementielle des bénévoles.</h2>

        <h3>Raccourcis</h3>
        <ul>
            <li>
                <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/volunteer" title="Chercher un bénévole">
                    Chercher un bénévole
                </a> / 
                <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/volunteer/add" title="Ajouter un bénévole">
                    Ajouter un bénévole
                </a>
            </li>
            <li>
                <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/event/" title="Chercher un événement">
                    Chercher un événement
                </a> /
                <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/event/add" title="Ajouter un événement">
                    Ajouter un événement
                </a>
            </li>
            <li>
                <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/answer/" title="Chercher une réponse">
                    Chercher une réponse
                </a>
            </li>
            <li>
                <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/job/" title="Liste des postes">
                    Liste des postes
                </a> /
                <a href="{{ settings.OPENVOLUNTEER_WEB_ROOT }}/job/add" title="Ajouter un poste">
                    Ajouter un poste
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

